.tobBar {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 8px #f0f1f2;
}

.headerInner {
  width: 100%;
  height: 100%;
}

.logoStyle {
  width: 180px;
  height: 36px;
  margin-left: 50px;
  margin-top: 14px;
  float: left;
  cursor: pointer;
}

.localSelectStyle {
  width: 120px;
  margin-right: 20px;
  margin-top: 18px;
  float: right;
}
